*{
      font-family: 'Source Sans Pro', sans-serif;
}

.page-header{
      background-color: #424242;
      height : 250px;
}

.page-header-content{
      width : 900px;
      padding: 35px;
      margin: auto;
      text-align : center;
}

.page {
      width : 900px;
      background-color : white;
      padding: 35px;
      margin: auto;
}

.page-title img{
  width : 100px;
  height : 100px;
      
}

.title {
  fontsize : 900;
}

body {
  background-color : orange; 
}
