*{
      font-family: 'Source Sans Pro', sans-serif;
}

.page-header{
      background-color: #424242;
      height : 250px;
}

.page-header-content{
      width : 900px;
      padding: 35px;
      margin: auto;
      text-align : center;
}

.page {
      width : 900px;
      background-color : white;
      padding: 35px;
      margin: auto;
}

.page-title{
  padding-top : 25px;
}

.page-img img{
  width : 100px;
  height : 100px;
      
}

.title h1 {
  font-weight : 900;
  font-size: 4em !important;
  text-align: left;
  
}

.vis-container{
      width: 100%;
}

body {
  background-color :#fd8d3c; 
}
