*{
      font-family: 'Source Sans Pro', sans-serif;
}

.page-header{
      background-color: #424242;
}

.page-header-content{
      width : 900px;
      padding: 0px 35px 20px;
      margin: auto;
      text-align : center;
}

.page {
      width : 900px;
      background-color : white;
      padding: 35px;
      margin: auto;
      margin-top : -65px;
}

.page-img img{
  width : 100px;
  height : 100px;
  padding : 0px 62px;
      
}

.title h1 {
  font-weight : 900;
  font-size: 4em;
  color: palegoldenrod;
}

.intro{
  margin-bottom: 20px;
}

.vis-container{
      width: 100%;
}

body {
  background-color :#fd8d3c; 
}
